/*Обнуление*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
:focus {outline: 0;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;-moz-appearance: none;}
input[type=search] {-webkit-appearance: none;-moz-appearance: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
textarea {overflow: auto;vertical-align: top;resize: vertical;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;max-width: 100%;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
html {font-size: 100%; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */-ms-text-size-adjust: 100%; /* 2 */}
a:focus {outline: thin dotted;}
a:active, a:hover {outline: 0;}
img {border: 0; /* 1 */-ms-interpolation-mode: bicubic; /* 2 */}
figure {margin: 0;}
form {margin: 0;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0;white-space: normal; /* 2 */*margin-left: -7px; /* 3 */}
button, input, select, textarea {font-size: 100%; /* 1 */margin: 0; /* 2 */vertical-align: baseline; /* 3 */*vertical-align: middle; /* 3 */}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, html input[type="button"], /* 1 */input[type="reset"], input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */*overflow: visible;  /* 4 */}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */*height: 13px; /* 3 */*width: 13px; /* 3 */}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}  textarea {overflow: auto; /* 1 */vertical-align: top; /* 2 */}
table {border-collapse: collapse;border-spacing: 0;}
html, button, input, select, textarea {color: #222;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}




html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Roboto, serif ;
}
.wrap {
    width: 1110px;
    margin: 0 auto;
    /*padding: 0 15px;*/
}
.header {

    background: #EEEFF1;
}
.header_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 79px;
}

.header_logo {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-right: 40px;
}
.header_item:last-child {
    margin-right: 0;
}
.header_link {
    text-decoration: none;
    color: #000000;
}

.header_link:hover,  .header_link:focus,  .header_link:active {
    opacity: .75;
}
.intro {
    padding-top: 162px;
    padding-bottom: 146px;
    background: #EEEFF1;
}
.intro_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
}

.intro_info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    padding-bottom: 60px;
}
.intro_info_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 60px;
}
.intro_info_button {
    width: 225px;
    height: 65px;
    left: 975px;
    top: 482px;
    background: #34547A;
    color: #FFFFFF;
}

.about {
    background: #E5E5E5;
    padding-bottom: 100px;
    padding-top: 119px;
}
.about_info {
    display: flex;
    flex-wrap: wrap;
}
.about_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
    width: 100%;
}
.about_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    max-width: 540px;
    margin: 0 auto;
}

.projects {
    background: #34547A;
}
.pojects_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 49px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.pojects_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project_info {
    display: block;
}
.pojects_card_number{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 10px;

}
.pojects_card_desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.skills_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-top: 102px;
    padding-bottom: 101px;
}
.skills_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-top: 102px;
}
.skills_foto_thumb {
    width: 555px;
    height: 450px;
    left: 981px;
    top: 1411px;
}

.video {
    background: #EEEFF1;
    width: 100%;
    padding-bottom: 100px;
}
.video_wrap {

    margin: 0 auto;
    position: relative;
}
.video_item {
    padding-top: 56.25%;
}
.video_element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video_info {
    display: block;
    padding-top: 100px;
    padding-bottom: 57px;
}

.video_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 50px;
}
.video_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 auto;
    max-width: 540px;
}
.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 28px;

}
.pictures_thumb {
    width: 480px;
    height: 480px;
}
.logo {
    padding-top: 72px;
    padding-bottom: 100px;
}
.logo_pic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.form {
    background: #EEEFF1;
    padding-bottom: 100px;
    padding-top: 100px;
}

.form_wrap {
    max-width: 540px;
    margin: 0 auto;
}

.form_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.form_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 65px;
}
.form_textarea {
    /*max-width: 540px;*/
    /*height: 175px;*/
    margin-top: 20px;
    padding: 17px 438px 143px 20px;
    margin-bottom: 50px;
}

.form_button {
    margin: 0 auto;
}
footer {
    background-color: #34547A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer_title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.form_inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_input {
    width: 255px;
    height: 50px;
    padding: 17px 161px 18px 20px;
}
.footer_parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer_icon {
    padding-right: 22px;
}
.footer_icon:last-child {
    padding-right: 0;
}




